/* font */
@font-face {
  font-family: YangjaeWadangche;
  src: url(/templates/assets/fonts/YangjaeWadangche.TTF) format('truetype');
}

@font-face {
  font-family: YangjaeBaekdu;
  src: url(/templates/assets/fonts/YangjaeBaekdu.TTF) format('truetype');
}

/* 공통영역 */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.hide {
  display: none;
}

.red-color {
  color: red;
}

.orange-color {
  color: orange;
}

.yellow-color {
  color: yellow;
}

.green-color {
  color: green;
}

.blue-color {
  color: blue;
}

.indigo-color {
  color: indigo;
}

.purple-color {
  color: purple;
}

.welcome-page-area {
  width: 100vw;
  height: 100vh;
  background: url(../images/welcome-page3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* welcome page 영역 */
.welcome-page-area .item1-area .item1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 500px), calc(-50% - 10px));
  width: 400px;
  height: auto;
}

.welcome-page-area .item1-mind-speech-bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 100px), calc(-50% + 300px)) scaleY(-1);
}

.welcome-page-area .item1-area .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 100px), calc(-50% + 300px));
  font-size: 36px;
}

.welcome-page-area .item1-area .text .point-color {
  color: #fff;
  text-shadow: 0 2px #000, 0 -2px #000, 2px 0 #000, -2px 0 #000;
}

.welcome-page-area .start-guide-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  font-size: 70px;
  line-height: 1.3em;
  font-weight: bolder;
  word-break: break-all;
  color: #ff0000;
  text-shadow: 0 2px 2px #FF0000, -2px 5px 0 #ff7f00, -4px 10px 0 #ffff00, -8px 15px 0 #00ff00, -12px 20px 0 #0000ff, -16px 25px 0 #4b0082, -20px 30px 0 #9400d3;
}

.welcome-page-area .impact-speech-bubble-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 490px), calc(-50% - 100px)) rotate(-20deg);
  width: 500px;
  height: 350px;
}

.welcome-page-area .impact-speech-bubble-area .impact-speech-bubble {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 350px;
}

.welcome-page-area .impact-speech-bubble-area .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffff00;
  text-shadow: 3px 3px 10px #000;
}

/* team introduce page 영역 */
.team-introduce-area {
  width: 100vw;
  height: 100vh;
  background: url(../images/default-bono.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.team-introduce-area .title {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 50px;
  font-family: YangjaeWadangche;
  font-size: 10vw;
  white-space: nowrap;
}

.team-introduce-area .sub-title {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 50px;
  font-family: YangjaeWadangche;
  font-size: 3.5vw;
  white-space: nowrap;
}

.team-introduce-area .main-content-area {
  position: absolute;
  top: 40%;
  left: 10%;
  padding: 3vw;
  font-family: YangjaeBaekdu;
  font-size: 4vw;
  word-break: break-all;
  text-align: center;
  background-color: rgb(200, 200, 200);
  border-radius: 50%;
}

.team-introduce-area .main-content-area::-webkit-scrollbar {
  display: none;
}